.form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.gradientText {
	background: -webkit-linear-gradient(#fe8152, #ef1fe4);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-style: italic;
}
.form input {
	width: 100%;
}
