.container {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	border-width: 3px;
	margin: 2rem auto;
	padding: 1rem;

	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.gradientText {
	background: -webkit-linear-gradient(#fe8152, #ef1fe4);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-style: italic;
}
.form input {
	width: 90%;
	margin: 0 auto;
	padding: 0.5rem;
}
.form textarea {
	width: 90%;
	margin: 0 auto;
	padding: 0.5rem;
}
.form button {
	width: fit-content;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	margin: 0.5rem auto;
	background: linear-gradient(to right, #ef1fe53c, #fe805233);
}

@media (min-width: 961px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	.container {
		width: auto;
		flex-direction: row;
		gap: 3rem;
		padding: 8rem;
	}
}
