.heroInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}
.inner {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(135, 31, 112, 0.4);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: 90%;
	padding: 2rem 1rem;
}
.inner p {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	font-size: 1.3rem;
}

@media (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */

	.heroInfo {
		flex-direction: row;
		gap: 3rem;
	}
	.heroInfo img {
		width: 500px;
		height: auto;
	}
	.inner {
		width: 40%;
	}
}
.gradientText {
	background: -webkit-linear-gradient(#fe8152, #ef1fe4);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-style: italic;
}
